### In this assignment, you will build a web application that scrapes various websites for data related to the Mission to Mars and displays the information in a single HTML page.

In [1]:
# Dependencies
import pandas as pd
import requests
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [2]:
# location of chromedriver
!which chromedriver

/usr/local/bin/chromedriver

In [4]:
# pointing to the driver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [20]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [21]:
# Create BeautifulSoup object; parse with 'html'
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [27]:
# Retrieve elements to collect the latest News Title
news_title = soup.find('div', class_='content_title').text

# Retrieve elements to collect the Paragraph
news_p = soup.find('div', class_='article_teaser_body').text
print(f"News Title: {news_title}")
print(f"Pargraph: {news_p}")

News Title: NASA's MRO Completes 60,000 Trips Around Mars
Pargraph: The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.

### JPL Mars Space Images - Featured Image

In [93]:
# Visit the URL with splinter module
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/'
browser.visit(url)
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve Mar's featured image
image = soup.find('article', class_='carousel_item')['style']
print(image)

background-image: url('/spaceimages/images/wallpaper/PIA18328-1920x1200.jpg');

In [95]:
# Split text to get url
imageString = images.split("'",2);
imageURL = imageString[1]
print(imageURL)

/spaceimages/images/wallpaper/PIA18886-1920x1200.jpg

In [96]:
# Create URL for Image
featured_image_url = 'https://www.jpl.nasa.gov' + imageURL
print(f"Featured Image Link: {featured_image_url}")

Featured Image Link: https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18886-1920x1200.jpg

### Mars Weather

In [30]:
# URL of page to be scraped
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)
# Create BeautifulSoup object; parse with 'html'
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve elements to collect the latest weather tweet
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(f"Latest Mars Weather: {mars_weather}")

Latest Mars Weather: InSight sol 167 (2019-05-17) low -100.5ºC (-148.9ºF) high -20.4ºC (-4.6ºF)
winds from the SW at 4.7 m/s (10.6 mph) gusting to 13.5 m/s (30.3 mph)
pressure at 7.50 hPapic.twitter.com/0Eqt9nN21o

### Mars Facts

In [36]:
# Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

# URL of table to be scraped
url = "https://space-facts.com/mars/"
# Use read html to read table 
tables = pd.read_html(url)

In [37]:
# tables is in a list
type(tables)

list

In [38]:
# Check tables
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [63]:
# There's only one table so use normal indexing to get first dataframe
df = tables[0]
df.columns = ['Attribute','Metrics']
df = df.set_index('Attribute')
# check df
df

                                            Metrics
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [58]:
# Generate HTML tables from DataFrames
html_table = df.to_html()

In [59]:
# Strip unwanted newlines to clean up the table.
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Metrics</th>    </tr>    <tr>      <th>Attribute</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [60]:
# Save to HTML
df.to_html('table.html')

In [61]:
# Check HTML
!open table.html

### Mars Hemispheres

In [127]:
# URL of page to be scraped
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
# Create BeautifulSoup object; parse with 'html'
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Find Items
item = soup.find_all('div',class_='item')
# Find Image
image = item[0].find('a', class_='itemLink product-item')['href']
imageURL = "https://astrogeology.usgs.gov" + image
# Find Title
title = item[0].find('h3').text

print(imageURL)
print(title)

https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
Cerberus Hemisphere Enhanced

In [150]:
# Create loop to scrape all 4 images and titles

# URL of page to be scraped
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)
# Create BeautifulSoup object; parse with 'html'
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Find hemispheres
hemispheres = soup.find_all('div',class_='item')

hemi_dict = []

for each in hemispheres:
    image = each.find('a', class_='itemLink product-item')['href']
    imageURL = "https://astrogeology.usgs.gov" + image
    
    title = each.find('h3').text
    
    hemi_dict.append({'title':imageURL,'img_url':title})

In [151]:
# Check Dictionary
hemi_dict

[{'title': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
  'img_url': 'Cerberus Hemisphere Enhanced'},
 {'title': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
  'img_url': 'Schiaparelli Hemisphere Enhanced'},
 {'title': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
  'img_url': 'Syrtis Major Hemisphere Enhanced'},
 {'title': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced',
  'img_url': 'Valles Marineris Hemisphere Enhanced'}]