# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Show columns
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Calculate the number of unique schools in dataframe
totalSchool = len(school_data_complete['School ID'].unique())
print(f'total number of schools: {totalSchool}')
#Calculate total number of students
totalStudents = len(school_data_complete['Student ID'].unique())
print(f'total number of students: {totalStudents}')
#Calculate the total budget
totalBudget = sum(school_data_complete['budget'].unique())
print(f'total budget: {totalBudget}')
#Calculate the average math score
avgMath = round(school_data_complete['math_score'].mean(),2)
print(f'average math score: {avgMath}')
#Calculate the average reading score
avgReading = round(school_data_complete['reading_score'].mean(),2)
print(f'average reading score: {avgReading}')
#Calculate the overall passing rate 
#(overall average score), i.e. (avg. math score + avg. reading score)/2
overallPass = round((avgMath + avgReading)/2,2)
print(f'overall passing rate (average of math and reading): {overallPass}')
#Calculate the percentage of students with a passing math score (70 or greater)
mathPass = round(100*(school_data_complete['Student ID'][school_data_complete['math_score']>=70].count())/totalStudents,2)
print(f'percentage of students with a passing math score 70 or greater: {mathPass}')
#Calculate the percentage of students with a passing reading score (70 or greater)
readingPass = round(100*(school_data_complete['Student ID'][school_data_complete['reading_score']>=70].count())/totalStudents,2)
print(f'percentage of students with passing reading score 70 or greater: {readingPass}')

total number of schools: 15
total number of students: 39170
total budget: 24649428
average math score: 78.99
average reading score: 81.88
overall passing rate (average of math and reading): 80.44
percentage of students with a passing math score 70 or greater: 74.98
percentage of students with passing reading score 70 or greater: 85.81

In [4]:
#Create a dataframe to hold the above results
school_summary = pd.DataFrame({
    "Total Schools": [totalSchool],
    "Total Students": [totalStudents],
    "Total Budget": [totalBudget],
    "Average Math Score": [avgMath],
    "Average Reading Score": [avgReading],
    "% Passing Math": [mathPass],
    "% Passing Reading": [readingPass],
    "% Overall Passing Rate": [overallPass]
})
#Optional: give the displayed data cleaner formatting
school_summary['Total Students'] = school_summary['Total Students'].map(
    "{0:,.0f}".format)
school_summary['Total Budget'] = school_summary['Total Budget'].map(
    "${0:,.2f}".format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map(
    "{0:,.2f}%".format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map(
    "{0:,.2f}%".format)
school_summary['% Overall Passing Rate'] = school_summary['% Overall Passing Rate'].map(
    "{0:,.2f}%".format)
school_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.44%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [17]:
#Calculate Metrics by grouping by School Name



#school type


#calculate total number of students
totalStudent_df = school_data_complete.groupby('school_name').count()[['Student ID']].rename(
    columns={'Student ID':'Total Students'})
print(totalStudent_df.head())

#total school budget
schoolBudget = school_data_complete.groupby(['school_name','budget']).sum().reset_index()
schoolBudget = schoolBudget[['school_name','budget']]
schoolBudget.set_index('school_name')
print(schoolBudget.head())

#calculate average math score


avgMath_df = school_data_complete.groupby('school_name').mean()[['math_score']].rename(
    columns={'math_score':'Average Math Score'})
print(avgMath_df.head())

#calculate average reading score
avgReading_df = school_data_complete.groupby('school_name').mean()[['reading_score']].rename(
    columns={'reading_score':'Average Reading Score'})
print(avgReading_df.head())

                      Total Students
school_name
Bailey High School              4976
Cabrera High School             1858
Figueroa High School            2949
Ford High School                2739
Griffin High School             1468
            school_name   budget
0    Bailey High School  3124928
1   Cabrera High School  1081356
2  Figueroa High School  1884411
3      Ford High School  1763916
4   Griffin High School   917500
                      Average Math Score
school_name
Bailey High School             77.048432
Cabrera High School            83.061895
Figueroa High School           76.711767
Ford High School               77.102592
Griffin High School            83.351499
                      Average Reading Score
school_name
Bailey High School                81.033963
Cabrera High School               83.975780
Figueroa High School              81.158020
Ford High School                  80.746258
Griffin High School               83.816757

In [16]:
x = school_data_complete.groupby(['school_name','budget']).sum().reset_index()
x = x[['school_name','budget']]
x.set_index('school_name')

                        budget
school_name
Bailey High School     3124928
Cabrera High School    1081356
Figueroa High School   1884411
Ford High School       1763916
Griffin High School     917500
Hernandez High School  3022020
Holden High School      248087
Huang High School      1910635
Johnson High School    3094650
Pena High School        585858
Rodriguez High School  2547363
Shelton High School    1056600
Thomas High School     1043130
Wilson High School     1319574
Wright High School     1049400

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.